In [1]:
!pip install --upgrade scikit-learn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

In [2]:
# !pip install --upgrade scikit-learn

In [3]:
df = pd.read_csv('Used_Bikes.csv')
df

,bike_name,price,city,kms_driven,age,power,brand,owner
0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,3,110,TVS,1
1,Royal Enfield Classic 350cc,119900,Delhi,11000,4,350,Royal Enfield,1
2,Triumph Daytona 675R,600000,Delhi,110,8,675,Triumph,1
3,TVS Apache RTR 180cc,65000,Bangalore,16329,4,180,TVS,1
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000,Bangalore,10000,3,150,Yamaha,1
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000,Delhi,22000,4,100,Hero,1
32644,TVS Apache RTR 180cc,30000,Karnal,6639,9,180,TVS,1
32645,Bajaj Avenger Street 220,60000,Delhi,20373,6,220,Bajaj,1
32646,Hero Super Splendor 125cc,15600,Jaipur,84186,16,125,Hero,1
32647,Bajaj Pulsar 150cc,22000,Pune,60857,13,150,Bajaj,1

In [4]:
backup=df.copy()

In [5]:
df['age'].astype(int)

0         3
1         4
2         8
3         4
4         3
         ..
32643     4
32644     9
32645     6
32646    16
32647    13
Name: age, Length: 32648, dtype: int32

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  int64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  int64
 4   age         32648 non-null  int64
 5   power       32648 non-null  int64
 6   brand       32648 non-null  object
 7   owner       32648 non-null  int64
dtypes: int64(5), object(3)
memory usage: 2.0+ MB

In [7]:
df["bike_name"]=df["bike_name"].str.split(" ").str.slice(0,3).str.join(' ')
df["bike_name"]

0                TVS Star City
1        Royal Enfield Classic
2         Triumph Daytona 675R
3               TVS Apache RTR
4                  Yamaha FZ S
                 ...
32643         Hero Passion Pro
32644           TVS Apache RTR
32645     Bajaj Avenger Street
32646      Hero Super Splendor
32647       Bajaj Pulsar 150cc
Name: bike_name, Length: 32648, dtype: object

In [8]:
df=df.reset_index(drop= True)
df

,bike_name,price,city,kms_driven,age,power,brand,owner
0,TVS Star City,35000,Ahmedabad,17654,3,110,TVS,1
1,Royal Enfield Classic,119900,Delhi,11000,4,350,Royal Enfield,1
2,Triumph Daytona 675R,600000,Delhi,110,8,675,Triumph,1
3,TVS Apache RTR,65000,Bangalore,16329,4,180,TVS,1
4,Yamaha FZ S,80000,Bangalore,10000,3,150,Yamaha,1
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro,39000,Delhi,22000,4,100,Hero,1
32644,TVS Apache RTR,30000,Karnal,6639,9,180,TVS,1
32645,Bajaj Avenger Street,60000,Delhi,20373,6,220,Bajaj,1
32646,Hero Super Splendor,15600,Jaipur,84186,16,125,Hero,1
32647,Bajaj Pulsar 150cc,22000,Pune,60857,13,150,Bajaj,1

In [9]:
df.describe()

              price     kms_driven           age         power         owner
count  3.264800e+04   32648.000000  32648.000000  32648.000000  32648.000000
mean   6.829542e+04   26344.625184      8.048211    213.511302      1.086253
std    9.071860e+04   22208.527695      4.031700    134.428868      0.296037
min    4.400000e+03       1.000000      1.000000    100.000000      1.000000
25%    2.500000e+04   12000.000000      5.000000    150.000000      1.000000
50%    4.300000e+04   20373.000000      7.000000    150.000000      1.000000
75%    8.000000e+04   35000.000000     10.000000    220.000000      1.000000
max    1.900000e+06  750000.000000     63.000000   1800.000000      4.000000

In [10]:
#df.to_csv('CleanedData.csv')

# Model

In [11]:
X= df.drop(columns="price")
y=df['price']

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.2)

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [14]:
ohe= OneHotEncoder()
ohe.fit(X[['bike_name','city','brand']])

OneHotEncoder()

In [15]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['bike_name','city','brand']), remainder="passthrough")

In [16]:
lr=LinearRegression()

In [17]:
pipe=make_pipeline(column_trans,lr)

In [18]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['BMW F750 GS', 'BMW G 310', 'BMW S 1000', 'Bajaj  Pulsar',
       'Bajaj Avenger 150cc', 'Bajaj Avenger 180cc',
       'Bajaj Avenger 200cc', 'Bajaj Avenger 220cc',
       'Bajaj Avenger Cruise', 'Bajaj Avenger Street',
       'Bajaj Boxer AT100', 'Bajaj Boxer BM150', 'B...
       'Vizianagaram', 'Warangal', 'Wardha', 'Yamuna Nagar', 'Yemmiganur',
       'Zirakpur'], dtype=object),
                                                                            array(['BMW', 'Bajaj', 'Benelli', 'Ducati', 'Harley-Davidson', 'Hero',
       'Honda', 'Hyosung', 'Ideal', 'Indian', 'Jawa', 'KTM', 'Kawasaki',
       'LML', 'MV', 'Mahindra', 'Rajdoot', 'Royal Enfield', 'Suzuki',
       'TVS', 'Triumph', 'Yamaha', 'Yezdi'], dtype=object)]),
                                                  ['bike_name', 'city',
                                                   'brand'])])),
                ('linearregression', LinearRegression())])

In [19]:
y_pred=pipe.predict(X_test)
y_pred

array([  9536.83958087, 460838.75325305,  77902.30856231, ...,
       211972.39627   ,  36035.71300689,  43517.86652804])

In [20]:
r2_score(y_test,y_pred)

0.9070557348765835

In [21]:
scores=[]
for i in range(1000):
    X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.2 , random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test, y_pred))

In [22]:
np.argmax(scores)

215

In [23]:
scores[np.argmax(scores)]

0.9422614866880064

In [24]:
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.2 , random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.9422614866880064

In [26]:
import pickle 
pickle.dump(pipe,open('LinearRegressionModel_one.pkl','wb'))

In [27]:
predictions=pipe.predict(pd.DataFrame([['TVS Apache RTR','Delhi',2000,4,500,'TVS',2]],columns=['bike_name','city','kms_driven','age','power','brand','owner']))
predictions

array([340030.01648801])

In [28]:
import pickle
from joblib import dump

# Load from .pkl
with open("LinearRegressionModel_one.pkl", "rb") as pkl_file:
    model = pickle.load(pkl_file)

# Save to .joblib
dump(model, "LinearRegressionModel_one.joblib")

['LinearRegressionModel_one.joblib']